<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Happy Trees
  </a>
  <div class="icons">
    <i class="fas fa-save text-light save-drawing"></i>
    <i class="fas fa-pen text-light new-drawing"></i>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 list-container">
      <div class="card">
        <ul id='drawing-list' class="list-group">
          <!--List will be populated with names of drawings-->
          {{#each drawings}}
          <li class="list-group-item" data-id="{{this.dataValues.id}}" data-title="{{this.dataValues.title}}">
            <span>{{this.dataValues.title}}</span>
            <i class='fas fa-trash-alt float-right text-danger delete-note' data-id="{{this.dataValues.id}}"></i>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="canvas col-8">
      <!--Need to determine the size of canvas to be used-->
      <canvas class="drawing-area" id="myCanvas" width="500" height="500"></canvas>
    </div>
    <button id="saveButton">Save</button>
    <button id="clearButton">Clear</button>
  </div>
</div>