<!-- navbar -->
<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <span class="title">Happy</span>
            <img src="../assets/images/justTree.jpg" alt="logo" width="200" height="200" class="align-middle">
            <span class="title">Trees</span>
        </a>
    </div>
</nav>

{{!-- main content --}}
<div class="row">
    <!-- our side bar saved list items. with the delete icons -->
    <div class="sidebar col-3">
        <ul id="drawing-list" class="list-group">
            <!--list items will be created dynamically with jquery-->
            {{#each drawings}}
                <li class="list-group-item" data-id="{{this.dataValues.id}}" data-title="{{this.dataValues.title}}">
                    <span>{{this.dataValues.title}}</span>
                    <i class='fas fa-trash-alt float-right text-danger delete-note' data-id="{{this.dataValues.id}}"></i>
                </li>
            {{/each}}
        </ul>
    </div>
    
    <!-- our canvas from paperjs  -->
    <div class="art col-6" id="main">
        <div class="canvas col">
            <canvas id="myCanvas" width="512" height="600"></canvas>
        </div>
    </div>

    <!-- our save and clear buttons for paperjs -->
    <div class="col-3 myButtons">
        <div >
            <button type="button" id="saveButton" class="save btn btn-success">Save</button>
            <button type="button" id="clearButton" class="clear btn btn-warning"> Clear</button>
        </div>
        <div> 
            <a href="/auth/logout" class="logout btn btn-warning">Logout</a>
        </div>
    </div>
</div>
