
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Happy Trees
  </a>
  <div class="icons">
    <i class="fas fa-save text-light save-note"></i>
    <i class="fas fa-pen text-light new-note"></i>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-4 list-container">
      <div class="card">
        <ul class="list-group">
          <!--List will be populated with names of drawings-->
          {{#each drawings}}
          <li data-id='{{this.id}}'>{{this.title}}</li>
          {{/each}}
        </ul>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Happy Trees
    </a>
    <div class="icons">
      <i class="fas fa-save text-light save-drawing"></i>
      <i class="fas fa-pen text-light new-drawing"></i>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 list-container">
        <div class="card">
          <ul class="list-group">
              <!--List will be populated with names of drawings-->
              {{#each Drawing}}
              <li class="list-group-item">
                <span>{{this.name}}</span>
                <i class='fas fa-trash-alt float-right text-danger delete-note' data-id="{{this.id}}"></i>
              </li>
              {{/each}}
          </ul>
        </div>
      </div>
      <div class="canvas col-8">
        <!--Need to determine the size of canvas to be used-->
        <canvas class="drawing-area" id="myCanvas" width="" height=""></canvas>

      </div>
    </div>
    <div class="canvas col-8">
      <input class="note-title" placeholder="Drawing Title" maxlength="28" type="text">
      {{!-- Load a blank canvas --}}
      {{#unless savedCanvas}}
      <canvas id="canvas1" class="note-textarea" width="" height=""></canvas>
      {{/unless}}
      {{!-- Load previous canvas --}}
      {{#if savedCanvas}}
      <canvas id="canvas2" class="note-textarea" width="" height=""></canvas>
      {{/if}}
    </div>
  </div>
</div>