
nav.navbar {
    margin-bottom: 10px;;
    height: 10rem;;
}
a.navbar-brand{
    margin: 0 auto;
    font-size: 70pt;
    text-align: center;
    width: fit-content;
}
div.row1 {
    height: 80rem;
}

h2 {
    font-variant: small-caps;
    text-align: center;
}
.fa-trash-alt {
    font-size: 40px;
    float: right;
}
 li.list-group-item{
    border-bottom: 3px solid black;
    margin-bottom: 5px;
    padding: 15px;
    height: 80px;
    vertical-align: middle;
 }
ul#drawing-list {
    overflow: auto;
    height: 550px;;
    margin-left: 10px;
}
#main {
    margin: 0 auto;
}
canvas#myCanvas {
    border: 2px solid black;
    background-color: white;
}
button.btn {
    margin-bottom: 20px;
    margin-left: 50px;
    width: 100px;
    
} 
div.myButtons > button.btn {
    display: flex;
    height: none;
    justify-content:center;
    align-content: center;
    width: 100%;
    margin-top: 15rem;
}

a.navbar-brand > span.title {
    font-family: 'Potta One', cursive;
    color: rgb(255, 165, 0);
    text-shadow: 0.4px 3px 8px black;
}
a.logout {
    width: 100%;
    margin-bottom: 0;
    height: 60px;
}
img.align-middle {
    border-radius: 10rem;
    border: rgb(255, 165, 0) solid 3px;
    width: 100px;
    height: 100px;
    color: orange;
    box-shadow: 0.8px 3px 31px 8px rgb(25, 207, 50);
}
/* ----------------------- landing page below -----------------*/
html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-repeat: no-repeat;
    overflow: hidden;
}
body {
    color: #000;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
}
div.col-lg-6 {
    background-color: white;;
}
div.container-fluid {
    margin-bottom: 10px;
}
div.text-center {
    width: 30px;
    float: right;
} 

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
}

.card2 {
    justify-content: center; 
    align-items: center;
    text-align: center;
    height: 100%;
}
b {
    font-weight: 500;
    font-size: 20pt;
}
i.icon {
    font-size: 38pt;
    padding: 5%;
}
p.quote {
    font-family: 'Dancing Script', cursive;
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}

@media screen and (max-width: 800px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}